.git
.env
.env.*
**/.env
**/.env.*
config/application-local.properties
**/application-local.properties
target
.idea
.settings
.vscode
.project
.classpath
.venv
venv
**/__pycache__
**/*.pyc
evaluation/results
*.zip
*.log
